body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.divide{
    display: flex;
    height: 100%;
 
}
.logo{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.menu {
    display: flex;
    width: 25%;
    align-items: center;
    border-right: 4px white solid;
    height: 100vh;
    flex-direction: column;
    position: sticky;
    top: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}

.publicaciones{
    border-right: white 4px solid;
    width: 75%;
    color: rgb(65, 249, 255);
}
a{
    text-decoration: none;
    color: white;
}
#logoParchApp{
    height: 10vh;
}
.atributos{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.encabezado{
    height: 13vh;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 4px solid white;
}
.encabezado input{
    height: 5vh;
    width: 80%;
    border-radius: 2vh;
    text-align: center;
}
#imagen{
    height: 50%;
    border-radius: 8vh 8vh 8vh 8vh;
}
.encabezadoPubli{
    height: 20vh;
    display: flex;
    align-items: center;
    padding-left: 10vh;
    gap: 4vh;
}
.publicacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cuerpoPubli{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#imgPublicacion{
    height: 50vh;
    width: 60%;
    border: 0.5vh solid white;
    border-radius: 2vh;
}
.contenedorComentarios{
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}
.comentarios{
    display: flex;
    width: 80%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 100%;

}
.comentarios img{
    height: 6vh;
}
.contenedorReaccion{
    display: flex;
    align-items: center;
}
.atributos img{
    height: 6vh;
}
.atributos a{
    display: flex;
    align-items: center;
    gap: 1vh;
}

.atributos p{
    margin: 0;
    margin-top: 8px;
}
.atributos a:hover{
    color: rgb(65, 249, 255);
}
#perfil img{
    height: 9vh;
}
.contenedorUsuario{
    height: 100%;
    border: greenyellow solid 4px;
    display: flex;
}
.usuarioImagen{
    width: 30%;
    
    display: flex;
    justify-content: end;
    align-items: center;
}
.usuarioImagen img{
    height: 30vh;
    border-radius: 20vh;
}
.usuarionombre{
    width: 70%;
    height: 100%;
    padding-bottom: 4vh;
    padding-top: 4vh;
    flex-wrap: wrap;
}
.seguidores{
    display: flex;
    gap: 28vh;
    justify-content: center;
}
.numero{
    display: flex;
    gap: 32vh;
    justify-content: center;
    width: 100%;
}
.editPerfil button{
    height: 8vh;
    width: 30%;
    border-radius: 8vh;
    font-size: 1.2rem;
}
.editPerfil{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    width: 100%;
}
.nombre{
    display: flex;
    gap: 20vh;
    justify-content: center;
    
}
.usuarionombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.editPerfil button:hover{
    background-color: rgb(71, 255, 25);
    
}