@font-face {
    font-family: 'ParchApp';
    src: url('Power\ Calm.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background: linear-gradient(to right, #000000, #1E3A8A, #3B82F6);



    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.central{
    display: flex;

    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    border: rgb(0, 0, 0) solid 2px;
    height: 50vh;
    width: 45vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10vh;
    backdrop-filter: blur(10px);
    border-radius: 5vh 5vh 5vh 5vh;
}
.contLogin {
    font-family: 'ParchApp';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1.5vh;
    
}
.contLogin h1{
    font-family: 'ParchApp';
    margin: 1vh;
    font-size: 2rem;
}
input{
    height: 8%;
    width: 100%;
    border-radius: 10px;
    border-bottom: black solid 2px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background: rgb(202, 202, 202);
}
button{
    height: 8%;
    width: 100%;
    font-family: 'ParchApp';
    border-radius: 10px;
    border-bottom: black solid 2px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background: rgb(255, 255, 255);
}

button:hover{
    background-color: rgb(71, 255, 25);
}
.logo{
    height: 15vh;
}
