@import url('https://fonts.cdnfonts.com/css/cycle');
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.divide{
    display: flex;
    height: 100%;
}
/*Aqui va lo del menu ---------------------------------------------------------------------->*/

.logo{
    height: 15%;
    width: 100%;
    margin-top: 2vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu {
    padding: 1.9vh;
    display: flex;
    width: 12%;
    align-items: flex-start;
    border-right: 1px white solid;
    height: 100vh;
    flex-direction: column;
    position: sticky;
    top: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}


a{
    text-decoration: none;
    color: white;
}
#logoParchApp{
    height: 4vh;
}
.atributos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    text-align: center;
    gap: 2.2vh;
}
.atributos a{
    color:white;
    transition: 0.3s;
}
.atributos a:hover{
    color:rgb(65, 249, 255);
}

.atributos a p{
    font-size: 0.6em;
    font-family: 'CYCLE', sans-serif;
    letter-spacing: 1.3px;
}
.atributos a i{
    font-size: 1em;
}

.atributos a{
    display: flex;
    align-items: center;
    gap: 1vh;
}

.atributos p{
    margin: 0;
    margin-top: 8px;
}

/*----------------------------------------------------------------------------------------------------------------------------------->*/

.publicaciones{
    border-right: white 1px solid;
    width: 50%;
    color: rgb(65, 249, 255);
}

.encabezado{
    height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.encabezado input {
    height: 3vh;
    width: 60%;
    border: 1.5px solid white;
    border-radius: 2vh;
    color:rgba(255, 255, 255, 0.877);
    font-size: 0.9em;
    text-shadow: 0 0 3px aqua;
    background: rgba(255, 255, 255, 0.37);
    text-align: center;
    transition: all 0.3s ease;
  }

  .encabezado input:focus{
    border: 5px double rgb(0, 247, 255);
  }
  
  .encabezado input::placeholder {
    color: rgb(0, 247, 255); /* Color gris claro */
    font-style: italic; /* Italicizar el texto */
    text-align: center;
  }
  
  .encabezado input:focus::placeholder {
    color: rgb(255, 255, 255); /* Cambiar el color cuando se enfoca */
  }

.encabezado input::placeholder{
    color:rgb(255, 255, 255);
}
.encabezado i{
    font-size: 1.5em;
    margin-right: 0.9vh;
}
#imagen{
    height: 50%;
    width: 7%;
    border-radius: 8vh;
}
.encabezadoPubli{
    height: 20vh;
    display: flex;
    align-items: center;
    padding-left: 10vh;
    gap: 4vh;
}
.publicacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cuerpoPubli{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#imgPublicacion{
    height: 50vh;
    width: 60%;
    border: 4px solid white;
    border-bottom: none;
    border-radius: 2vh 2vh 0 0 ;
}
.contenedorComentarios{
    height: 100%;
    display: flex;
    justify-content: center;
}
.comentarios{
    display: flex;
    width: 60%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 100%;
    border: 4px rgb(255, 255, 255) solid;

}
.comentarios img{
    height: 6vh;
}
.contenedorReaccion{
    display: flex;
    align-items: center;
}

#perfil img{
    height: 9vh;
}
.contenedorUsuario{
    height: 100%;
    border: greenyellow solid 4px;
    display: flex;
}
.usuarioImagen{
    width: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.usuarioImagen img{
    height: 30vh;
    width: 65%;
    border-radius: 20vh;
}
.usuarionombre{
    width: 70%;
    height: 100%;
    padding-bottom: 4vh;
    padding-top: 4vh;
    flex-wrap: wrap;
}
.seguidores{
    display: flex;
    gap: 28vh;
    justify-content: center;
}
.numero{
    display: flex;
    gap: 32vh;
    justify-content: center;
    width: 100%;
}
.editPerfil button{
    height: 8vh;
    width: 16%;
    border-radius: 8vh;
    font-size: 1.2rem;
}
.editPerfil{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2vh;
}
.nombre{
    display: flex;
    gap: 20vh;
    justify-content: center;
    
}
.usuarionombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.editPerfil button:hover{
    background-color: rgb(71, 255, 25);
    
}
.resultadoComentarios{
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-right: solid 4px rgb(255, 255, 255);
    border-left: solid 4px rgb(255, 255, 255);
    border-bottom: solid 4px rgb(255, 255, 255);
    border-top: none;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}
.centradorComentarios{
    display: flex;
    justify-content: center;
}

.etiquetasCommentario h4{
    margin: 0;
}
.etiquetasCommentario p{
    margin: 0;
}
.contenedorimgcoment{
    display: flex;
    gap: 1vh;
    align-items: center;
}
.publicacion-item{
    border-bottom: 1px white solid;
}


/*Aqui va lo de los comentarios de Menu principal*/

.todoComentarios {
    margin-bottom: 20px;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; 
    scrollbar-width: none; /* Para Firefox */
}

.resultadoComentarios{
    background-color: rgba(0, 238, 255, 0);
    display: flex;
    flex-direction: column;
}

.etiquetasComentario {
    display: flex;
    flex-direction: column;
    border: 2px solid #00fff236;
    border-radius: 20px;
    background: transparent;
    width: 80%;
    padding-bottom: 2vh;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.etiquetasComentario::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background: linear-gradient(45deg, #00fff236 20%, transparent 0%, transparent 80%, #00fff236 80%);
    z-index: -1;
    box-shadow: 0 0 10px #00fff28c; /* Resplandor en el borde */
}



.etiquetasComentario h4{
    margin-bottom: 0;
    margin-left: 3vh;
    color:aqua;
    text-shadow: 0 0 5px aqua, 0 0 7px rgb(0, 170, 170);
}

.etiquetasComentario p{
    color:white;
    text-align: center;
    margin-bottom: 0;
    margin-right: 3vh;
    margin-left: 3vh;
}

.Btn-SaveDelete button{
    margin-left: 3vh;
    margin-right: 3vh;
    background-color: rgb(4, 234, 250);
    border-radius:0.9vh;
    height: 3vh;
    width: 30%;
    border:transparent;
    cursor: pointer;
    transition: .3s;
}

.Btn-SaveDelete button:hover{
    color:rgb(0, 0, 0);
    text-shadow: 0 0 1px black;
    border:transparent;
    box-shadow:
     0 1px 12px rgb(0, 116, 116),
     0 2px 5px aqua
     ;
}
.Btn-SaveDelete{
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}
/*------------------------------------------------------------------------------->*/

/*Datos del login bottones*/
.datosRegistrar input{
    width: 40vh;
    border-radius: 4vh;
    text-align: center;
    height: 4vh;
    border: solid 4px rgb(58, 58, 58);
    font-size: 0.8em;
}
.datosRegistrar{
    margin-top: 2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enviarEditar{
    margin-top: 2vh;
    height: 5vh;
    width: 20%;
    border-radius: 4vh;
    font-size: 1.3rem;
}
.enviarEditar:hover{
    background-color: rgb(71, 255, 25);
}
.datosPublicacion{
    margin-top: 2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.datosPublicacion input{
    width: 100%;
    border-radius: 4vh;
    text-align: center;
    height: 4vh;
    border: solid 4px rgb(58, 58, 58);
    font-size: 0.8em;
}
.enviarPublicacion{
    width: auto;
    border-radius: 4vh;
    height: 7vh;
    font-size: 0.8em;
}
.enviarPublicacion:hover{
    background-color: rgb(71, 255, 25);
}
.OrdenarEditarEliminarBotones{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2vh;
    gap: 2vh;
}
.OrdenarEditarEliminarBotones button{
    width: 15%;
    height: 5vh;
    border-radius: 4vh; 
}
.hacerComentario{
    display: flex;
    justify-content: center;
}
.inputComentario{
    display: flex;
    justify-content: center;
    border:4px solid white;
    width: 60%;
    height: 9vh;
    border-top: none;
    gap: 2vh;
    align-items: center;
}
#envioComentario{
    height: 4vh;
    width: 60%;
    border-radius: 2vh;
}
/*-------------------------------------------------------------------------------->*/


.like-img {
    margin: 10px;
    border-radius: 60px;
    cursor: pointer;
 }
 
 
 .like-img:hover{
    background-color: rgba(255, 0, 76, 0.562);
 }
 
 
 .active-border {
    border: 3px solid rgb(0, 217, 255);
 }
 
 
 .active-border:hover{
    background-color: rgba(0, 195, 255, 0.575);
  }
 
