body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.divide{
    display: flex;
    height: 100%;
 
}
.logo{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.menu {
    display: flex;
    width: 25%;
    align-items: center;
    border-right: 4px white solid;
    height: 100vh;
    flex-direction: column;
    position: sticky;
    top: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}

.publicaciones{
    border-right: white 4px solid;
    width: 75%;
    color: rgb(65, 249, 255);
}
a{
    text-decoration: none;
    color: white;
}
#logoParchApp{
    height: 10vh;
}
.atributos{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.encabezado{
    height: 13vh;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 4px solid white;
}
.encabezado input{
    height: 5vh;
    width: 80%;
    border-radius: 2vh;
    text-align: center;
}
#imagen{
    height: 50%;
    width: 7%;
    border-radius: 8vh;
}
.encabezadoPubli{
    height: 20vh;
    display: flex;
    align-items: center;
    padding-left: 10vh;
    gap: 4vh;
}
.publicacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cuerpoPubli{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#imgPublicacion{
    height: 50vh;
    width: 60%;
    border: 0.5vh solid white;
    border-bottom: none;
    border-radius: 2vh 2vh 0 0 ;
}
.contenedorComentarios{
    height: 100%;
    display: flex;
    justify-content: center;
}
.comentarios{
    display: flex;
    width: 60%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 100%;
    border: 4px rgb(255, 255, 255) solid;

}
.comentarios img{
    height: 6vh;
}
.contenedorReaccion{
    display: flex;
    align-items: center;
}
.atributos img{
    height: 6vh;
}
.atributos a{
    display: flex;
    align-items: center;
    gap: 1vh;
}

.atributos p{
    margin: 0;
    margin-top: 8px;
}
.atributos a:hover{
    color: rgb(65, 249, 255);
}
#perfil img{
    height: 9vh;
}
.contenedorUsuario{
    height: 100%;
    border: greenyellow solid 4px;
    display: flex;
}
.usuarioImagen{
    width: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.usuarioImagen img{
    height: 30vh;
    width: 65%;
    border-radius: 20vh;
}
.usuarionombre{
    width: 70%;
    height: 100%;
    padding-bottom: 4vh;
    padding-top: 4vh;
    flex-wrap: wrap;
}
.seguidores{
    display: flex;
    gap: 28vh;
    justify-content: center;
}
.numero{
    display: flex;
    gap: 32vh;
    justify-content: center;
    width: 100%;
}
.editPerfil button{
    height: 8vh;
    width: 16%;
    border-radius: 8vh;
    font-size: 1.2rem;
}
.editPerfil{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2vh;
}
.nombre{
    display: flex;
    gap: 20vh;
    justify-content: center;
    
}
.usuarionombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.editPerfil button:hover{
    background-color: rgb(71, 255, 25);
    
}
.resultadoComentarios{
    height: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: solid 4px rgb(255, 255, 255);
    border-top: none;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}
.centradorComentarios{
    display: flex;
    justify-content: center;
}
.etiquetasCommentario{
    border: 2px white solid;
    height: 100%;
    width: 70%;
    border-radius: 3vh 3vh 3vh 3vh;
    padding-left: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
}
.etiquetasCommentario h4{
    margin: 0;
}
.etiquetasCommentario p{
    margin: 0;
}
.contenedorimgcoment{
    display: flex;
    gap: 1vh;
    align-items: center;
}
.publicacion-item{
    border-bottom: 1px white solid;
}
.todoComentarios{
    margin-bottom: 6vh;
}

.datosRegistrar input{
    width: 40vh;
    border-radius: 4vh;
    text-align: center;
    height: 4vh;
    border: solid 4px rgb(58, 58, 58);
    font-size: 0.8em;
}
.datosRegistrar{
    margin-top: 2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enviarEditar{
    margin-top: 2vh;
    height: 5vh;
    width: 20%;
    border-radius: 4vh;
    font-size: 1.3rem;
}
.enviarEditar:hover{
    background-color: rgb(71, 255, 25);
}
.datosPublicacion{
    margin-top: 2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.datosPublicacion input{
    width: 100%;
    border-radius: 4vh;
    text-align: center;
    height: 4vh;
    border: solid 4px rgb(58, 58, 58);
    font-size: 0.8em;
}
.enviarPublicacion{
    width: auto;
    border-radius: 4vh;
    height: 7vh;
    font-size: 0.8em;
}
.enviarPublicacion:hover{
    background-color: rgb(71, 255, 25);
}